* {
            margin: 0;
            padding: 0;
        }

body {
    margin-top: 70px!important;

}


ul {
    list-style-type: none!important;
}
div.header-banner {
     text-align: center;
    min-height: 25.7em;
    position: relative;
    margin-top: -6em;
    padding-top: 12em;
    margin-bottom: 2em;
    background: #337ab7;
 ;
}
div.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

div.header-banner h1 {
    font-size: 3em;
    color: white;
    margin-bottom: 12px;
}
div.header-banner p {
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.5em;
    color: white;
    margin: 5px 0;
}
div.header-banner p.ren {
    margin-left: 45em;
}
div.home-block {
    /* border: 1px #ccc solid; */
    border-radius: 6px;
    padding: 16px 1em 5px 1.5em;
    margin-bottom: 1em;
}
div.page-bottom {
    width: 100%;
    clear: both;
    background: #222222;
    margin-top: 2.5em;
    padding: 1em 0 0;
    color: #777;
}
div {
    display: block;
}

div.page-bottom .title {
    color: #424242;
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    padding-bottom: 7px;
    margin-bottom: 1em;
    margin-top: 1em;
}
div.page-bottom .copyright {
    text-align: center;
    padding: 0.5em 0;
    margin-top: 1.5em;
    background: #337ab7;
    color: #e7e7e7;
}